footer {
    background: var(--main-color);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--background-color);

}

.footer-img {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer-social-media a {
    background: var(--background-color);
    color: var(--white);
    padding: 0.8rem;
    display: flex;
    border: 1px solid transparent;
}

.footer-social-media a:hover {
    background: transparent;
    color: var(--background-color);
    border-color: var(--background-color);
}

.footer-cp {
    margin-bottom: 4rem;
    color: var(--background-color);
}


@media screen and (max-width: 600px) {
    .links {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-social-media {
        margin-bottom: 2.6rem;
        
    }
}

